body{
	background-color: #aaa;
}

hr{
	border-top: 1px solid #000;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
}
h2{
	padding: 0px;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
}
h4{
	font-family: 'Source Sans Pro', sans-serif;
}

p{
	font-family: 'Lato', sans-serif;
	
}

#app{
	background-color: #aaa;
}
.app-content{
	background-color: #fff;
	border-radius: 10px;
	
}
.comment{
	background-color: #fff;
	margin: 0px;	
	border-left: 8px solid #708090;
	
}
.comment-content{
	font-style: Verdana;	
	padding-left: 10px;
	padding-top: 10px;
	border-bottom: 3px solid #828282;
}

.comment-footer{
	margin: 10px;
	padding-left: 10px;

	padding-right: 10px;
}



.btn-dislike{
	background-color: #B22222;
	color: #fff;
	font-weight: bold;
}
.btn-dislike:link{
	background-color: #B22222;
	color: #fff;
	font-weight: bold;
}
.btn-dislike:visited{
	background-color: #B22222;
	color: #fff;
	font-weight: bold;
}
.btn-dislike:hover{
	background-color: #8B0000;
	color: #fff;
	font-weight: bold;
}
.btn-dislike:active{
	background-color: #8B0000;
	color: #fff;
	font-weight: bold;
}

.btn-like{
	background-color: #008B00;
	color: #fff;
	font-weight: bold;
}
.btn-like:visited{
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
.btn-like:hover{
	background-color: #006400;
	color: #fff;
	font-weight: bold;
}
.btn-like:active{
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
.btn-like:target{
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
.btn-edit{
	background-color: #fff;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
}
.btn-edit:hover{
	background-color: #000;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
}
.btn-edit-profile{
	background-color: #fff;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	margin: 10px;
}
.btn-edit-profile:hover{
	background-color: #000;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
}
.btn-delete{
	background-color: #fff;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
}
.btn-delete:hover{
	background-color: #000;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
}
.btn-report{
	background-color: #fff;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
}
.btn-report:hover{
	background-color: #000;
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
}

.btn-hide-show{
	background-color: #fff;
	color: #000;
	border: 1px solid black;
	
}

.btn-hide-show:hover{
	color: white;
	background-color: black;	
}



.btn-add-proposal{
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

.menu{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background-color: #00be8c;
    
}
.menu a{
	color: #000;
}

.progress-bar-like{	
	background-color: #008B00;
}
.progress-bar-dislike{
	background-color: #B22222;

}
.reaction-bar{
	height: 10px;
	width: 100%;
	margin-top: 10px;
}

.location-combo-box{
	width: 90%;
	border: 1px solid black;
	margin-left: 0px;
	margin-right: 30px;
}

.profile-picture{
	padding: 10px;
	border: 1px solid black;
}

.profile-img{
	width: 100%;
}

.profile-info{
	
	border-bottom: 1px solid #bbb;
}

.profile-info-text{
	padding: 0px; 
}

.profile-questions{
	border-bottom: 1px solid black;
}

.profile-questions-box{
	border-bottom: 1px solid #CCC;
	padding: 10px; 
}
.profile-questions-title{
	padding: 10px; 	
}
.profile-proposals{
	border-bottom: 1px solid black;
}

.profile-proposals-box{
	border-bottom: 1px solid #ccc;	
}
.profile-proposals-title{
	padding: 10px;	
}

.profile-comments{
	border-bottom: 1px solid black;
}
.profile-comments-box{
	border-bottom: 1px solid #ccc;
}
.profile-comments-title{
	padding: 10px;		
}

.profile-specs{	
	border-bottom: 1px solid black;
}

.profile-specs-box{
	border-bottom: 1px solid #CCC;
	padding: 10px; 
}
.profile-specs-title{
	padding: 10px;
}



.footer{
	background-color: black;
	height: 100px;
}

.search-field{
	border-radius:10px;
}
.search-field-btn{
	border-radius:10px;
	
}
.search-field-txt{
	border-radius:10px;
	width: 90%;
}



.reaction-box{
	padding-bottom: : 0px; 
}
.reaction-proposal-box-label{
	margin: 0px; 
}
.form-add-question-comment{	
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
	height: 175px;
}
.form-add-question-comment-box{
	width: 100%;
}
.form-add-question-comment-submit{
	margin-top: 10px;
	position: relative;
	top: 0%;
	left: 0%;
}
.form-add-question-comment-options{
	
}
.form-add-question-comment-type{
	margin-top: 5px;
}
.form-add-question-comment-type-element{	
	height: 10%;
}

.solution{
	margin: 30px;
	padding: 10px;
	border: 1px solid gray;
	background-color: #8bcc54;
	color: #121;
}